li
{
    display: inline;
    padding-right: 20px
}

.hyperlike
{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}


.hyperlike
{
    background:none;
    border:none;
    margin:0;
    padding:0;
    /* text-decoration: underline; */
}

/* .submitbutton
{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin:5px;
    padding:1px; 
} */

.form-popup
{
    float:left;
    padding:10px;
    border-style:solid;
    border-width: 1px;
}